#wrapper {
    display: grid;
    grid-template-areas: 
        "nav"
        "main"
        "footer" ;
}

@media screen and (min-width: 40em) { 
    #wrapper {
        grid-template-columns: 3fr 6fr;
        grid-template-areas: 
            "nav nav"
            "main main"
            "footer footer" ;
        grid-gap: 1em;
        /* padding: 10px;  */
    }
}

@media (min-width: 60em) {
	#wrapper {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
		"nav  nav  nav"
		"main  main  main"
		"footer  footer  footer";
	}
}

nav {
    grid-area: nav;
    z-index: 1;
}

main {   
    grid-area: main;  
    width: 100%;
    text-align: center; 
    /* padding: 30px; */
}

main {
    grid-area: main;
    text-align: center; 
    min-height:100vh;
    width: 100%;
    /* padding: 30px; */
}

.footer {
    grid-area: footer;
    padding: 30px;
}
